body {
  background-color: #292929;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.chart {
  width: 900px;
  height: 500px;
  background-color: #343434;
  border-radius: 10px;
  margin-bottom: 20px;
}

.labels {
  display: flex;
  width: 700px;
  font-size: 2em;

  gap: 300px;
  justify-content: space-around;
}

.labels div {
  margin: 20px 20px;
  font-size: 1.2em;
}

.label-cps {
  color: #4a74f5;
}
.label-reaction {
  color: #f54a4a;
}
.label-aim {
  color: #f5e64a;
}
